<settings>
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>5ff7ed1a-3a2f-471a-91e1-bdcd164490ac</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>5ff7ed1a-3a2f-471a-91e1-bdcd164490ac</password>
    </server>
  </servers>
</settings>
