name: Crear Tag Aprobado

on:
  workflow_dispatch:
    inputs:
      comentario:
        description: "Comentario sobre la versi贸n"
        required: false

jobs:
  crear-tag:
    name: Crear y subir Tag
    runs-on: ubuntu-latest

    steps:
      - name: 锔 Clonar repositorio completo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: П Instalar xmllint
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils

      - name:  Obtener versi贸n desde pom.xml
        id: version
        run: |
          version=$(xmllint --xpath "string(//project/version)" pom.xml)
          echo "Versi贸n encontrada: $version"
          echo "version=$version" >> $GITHUB_OUTPUT

      - name:  Crear tag local
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag -a v${{ steps.version.outputs.version }} -m "${{ github.event.inputs.comentario || 'Versi贸n validada' }}"

      - name:  Subir tag al repositorio
        run: git push origin v${{ steps.version.outputs.version }}
