name: Desplegar Producci칩n desde Tag

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Versi칩n/tag a desplegar (ej: 1.0.5)'
        required: true

jobs:
  deploy:
    name: Desplegar en Producci칩n desde Tag
    runs-on: ubuntu-latest
    environment:
      name: produccion

    steps:
      - name: 游대 Clonar el repositorio
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: 丘뙖잺 Instalar dependencias
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client
          pip install -r requirements.txt

      - name: 游 Ejecutar main.py
        env:
          DB_NAME: ${{ secrets.PGDATABASE_PRO }}
          DB_USER: ${{ secrets.PGUSER_PRO }}
          DB_PASSWORD: ${{ secrets.PGPASSWORD_PRO }}
          DB_HOST: ${{ secrets.PGHOST_PRO }}
          DB_PORT: ${{ secrets.PGPORT_PRO }}
          GITHUB_REF: refs/heads/main
        run: python main.py
