name: Promocionar a Producci칩n

on:
  workflow_dispatch:
    inputs:
      comentario:
        description: '쯈u칠 se est치 promocionando?'
        required: false

jobs:
  merge-development-to-main:
    name: Promocionar rama development a main
    runs-on: ubuntu-latest

    steps:
      - name: 游대 Clonar el repositorio
        uses: actions/checkout@v3
        with:
          ref: development
          fetch-depth: 0  # Necesario para que el merge funcione correctamente

      - name: 游빓 Configurar Git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      - name: 游 Hacer merge a main
        run: |
          git checkout main
          git merge development -m "游 Promoci칩n autom치tica de development a main: ${{ github.event.inputs.comentario }}"
          git push origin main
